/* BASIC STYLINGS
============================================================================= */

body { padding: 50px 0px; }
.starter-template {padding: 40px 0px; text-align: center;}
.wider {
    width: 200px;
}
.container {
  max-width: 990px !important;
}
/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }

/**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/
/* HISTORY && FAVORITES*/
*, *:after, *:before { box-sizing: border-box; }
.component { padding: 10px; width: 100%; }
 .component__content { align-items: center; min-height: 20px; padding: 10px; }
  .component__star { line-height: 1; font-size: 36px; position: absolute; left: -60px; top: 100%; transform: translateY(-50%); }
   .component__double-text { display: flex; flex-direction: column; padding: 0 60px; }
    .component__double-text-item { padding-left: 40px; padding-right: 40px; }
     .component__double-text-item:first-of-type { padding-bottom: 5px; position: relative; }
      .component__double-text-item:last-child { border-top: 1px solid #919191; padding-top: 5px; }
       .component__single-text { display: block; text-align: right; position: absolute; right: -60px; top: 100%; transform: translateY(-50%); } 

.marked-as-fav{
    color: #0ce3ac;
}
.not-marked-as-fav{
    color: rgba(255,255,255,0.15);
}

/* TABS NAV */
.tabs-nav{
    padding: 20px 0px;
}

#direction-tr{ text-align: center;}
/* THUMBnail */
.thumbnail {
  background-size:cover;
  background-repeat:no-repeat;
}

.thumbnail > img{
   width:100%;
   height:100%;
   margin-bottom: -10px;
}

#direction-tr{ font-size: 24px} 

.result-tr { 
    white-space: normal;
    display:block;
    word-wrap:break-all;
}
.label-info {
    background-color: #00936e !important; /*#00936e - like a button| stndrd - #3498db*/
}

#hist-trash{
    position: absolute;
    right: 10%;
    font-size: 24px;
    margin-top: -10%;
}
@media only screen and (max-width: 375px) {
    #direction-tr{ font-size: 20px} 
}


