<div class="starter-template">
    <h3>Favorites</h3>
    <div>
        <div ng-repeat="item in favorites.wordsArray">
                <div class="component__content">
                    <div class="component__double-text">
                    <div class="component__double-text-item">
                        <div class="component__star" data-toggle="tooltip" title="add to favorites">
                            <a href="#">
                                <span class="glyphicon glyphicon-bookmark"></span>
                            </a>
                        </div>
                        <b>{{ item[0] }}</b>
                        <div class="component__single-text">
                            <span>{{ item[2] }}</span>
                        </div>
                    </div>
                    <div class="component__double-text-item">
                        {{ item[1] }}
                    </div>
                    </div>
                </div>
            <hr />           
        </div>
    </div>
</div>