<section class="tabs-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".translator"><span>1</span> Translator</a>
                    <a ui-sref-active="active" ui-sref=".favorites"><span>2</span> Favorites</a>
                    <a ui-sref-active="active" ui-sref=".history"><span>3</span> History</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="form-views" ui-view></div>