<div class="starter-template">
    <div id="hist-trash" data-toggle="tooltip" title="clear History">
        <a href="#" ng-click="history.cleanHistory()">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    <h3>History</h3>
    <div>
        <div ng-repeat="translateResult in history.wordsArray track by $index">
                <div class="component__content">
                    <div class="component__double-text">
                    <div class="component__double-text-item">
                        <div class="component__star" data-toggle="tooltip" title="add to favorites">
                            <a href="#" ng-click="history.addWordToFavorites(translateResult[0])"
                                ng-style="translateResult[3] === 'true' ? { 'color':'#0ce3ac' } : { 'color': 'rgba(255,255,255,0.15)' }">
                                <span class="glyphicon glyphicon-bookmark"></span>
                            </a>
                        </div>
                        <b>{{ translateResult[0] }}</b>
                        <div class="component__single-text">
                            <span>{{ translateResult[2] }}</span>
                        </div>
                    </div>
                    <div class="component__double-text-item">
                        {{ translateResult[1] }}
                    </div>
                    </div>
                </div>
            <hr />           
        </div>
    </div>
</div>