<section class="translator-container">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 col-lg-12 column">
                <div class="translator">
                    <div id="direction-tr">
                        <b ng-bind-html="translationDirection"></b>
                    </div>
                    <div class="jumbotron text-center" >
                        <h4>Result:</h4>
                        <span class="label-info result-tr">{{ translateResult }}</span>
                        <!-- ~~~// Img-->
                        <div class="thumbnail">
                            <img ng-src="{{imageUrl}}" alt="" class="img-rounded"/>
                        </div>
                        <!-- ~~~// FORM-->
                        <form role="form">
                            <div class="form-group">
                                <input type="text" ng-change="textChanged()" ng-model="formData.words" class="form-control input-lg text-center" placeholder="word to translate" ng-model="formData.words" />
                            </div>
                            <button type="submit" class="btn btn-success btn-lg btn-block " ng-click="translateWord()">Translate</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>                  
    </div>
</section>
